# Configuration Fromagerie Les Tepuys
SECRET_KEY=lestepuys-super-secret-key-2025
DATABASE_URL=sqlite:///lestepuys.db

# Configuration Stripe (Clé publique de test)
STRIPE_PUBLIC_KEY=pk_test_51UEr2Z1owhgg4ugnr3LdHn6Bq01IFld34xA6aUaDEKSSayIGWGUaB6hzglZJUcubXZvlt2miCuwRkySbzNoeJkwM00xFxxZMqG
STRIPE_SECRET_KEY=sk_test_...

# Configuration Email SMTP (Optionnel - Simulation console par défaut)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASSWORD=votre-mot-de-passe
